//////////////////////////////////////////////////
// testing box model
*{outline: dotted thin black;}

// hidden parts 
.dev{display: none;}
////////////////////////////////////////////////////


// basic bootstrap
@import './bootscss/bootstrap.scss';

// General startig css
*{box-sizing: border-box; margin: 0;padding: 0; }




//Extend css from bootstrap
.navbar{@extend .container;}


// main styles containers
////////////////////////
body{
  background: #eee; color: #303030;
  font-family: sans-serif;  text-align: center;
}
section{padding-top: 50px;padding-bottom: 50px; min-height: 500px;}


//elements styles
/////////////////
ul{margin-left: 1rem;}
a{ 
  color: inherit; text-decoration: underline; cursor: pointer;
  &:hover{text-decoration: underline; color: inherit; }
 }

